:root {
    --background-color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: OpenSans, sans-serif;
    font-size: 15px;
    background-color: #f7f7f7;
}

section:not(.hero) {
    padding: 2.5rem 1.5rem 1.5rem;
    background-color: white;

}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: var(--background-color);
    position: fixed;
    width: 100%;
}

.main-nav__logo {
    padding-left: 1rem;
}

.main-nav__menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.main-nav a:hover, a.main-nav a:active {
    background-color: #ddd;
    color: black;
}

.main-nav a {
    display: none;
}

.main-nav a.icon {
    float: right;
    display: block;
}

.main-nav.responsive {
    position: relative;
}

.main-nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}

.main-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(images/pexels-pixabay-207589.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #a7a8c1;
    text-align: center;
}

.hero__subtitle {
    padding: 0.5rem 0;
}


p {
    text-align: justify;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    line-height: 1.6;
    color: grey;
}

.phone {
    background-color: white;
}

.phone:active {
    background-color: hsl(204, 13%, 77%);
}

.phones__container {
    display: grid;
    gap: 5px;
    align-items: end;
}

.phone__info {
    padding: 0 3rem;
}

.phone__price {
    padding: 0.5rem 3rem;
    color: black;
    font-weight: bold;
}


footer {
    background-color: var(--background-color);
}

footer p {
    text-align: center;
}

@media screen and (min-width: 481px) {
    @media (hover: hover) and (pointer: fine) {
        .phone:hover {
            background-color: hsl(204, 13%, 77%);
        }

    }
    .phones__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-nav a, .main-nav.responsive a {
        display: block;
    }

    .main-nav a.icon, .main-nav.responsive a.icon {
        display: none;
    }

}

@media screen and (min-width: 768px) {
    .phones__container {
        grid-template-columns: repeat(3, 1fr);
    }
}
