@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Poppins:wght@300;400;500;600;700&display=swap');
body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
nav {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 50px 8px 16px;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}
#logo {
	width: 40px;
}
#logo > img {
	width: 100%;
}
.menu-item {
	font-size: 14px;
	padding: 16px;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
.menu-item > a {
	text-decoration: none;
	color: black;
}
#menu-item1:hover > .drop-down-box {
	display: block;
}
#menu-item2:hover {
	border: 1px solid rgb(170, 210, 54);
}
#mobile-menu {
	display: none;
}
.drop-down-box {
	display: none;
	position: absolute;
	right: 25px;
	top: 45px;
	border-top: 2px solid rgb(170, 210, 54);
	background-color: white;
	box-shadow: 0 2px 5px #ccc;
	padding: 12px 24px;
	width: 200px;
	box-sizing: border-box;
}
.drop-down-item {
	display: block;
	padding: 12px;
	border-bottom: 1px solid #ccc;
}
.drop-down-item:last-of-type {
	border-bottom: 0;
}
.dropdown {
	width: 12px;
}
#btn-shop-now {
	background-color: #aad236;
	padding: 9px 34px;
	border-radius: 8px;
	font-size: 12px;
	color: white;
	border: none;
	cursor: pointer;
}
#btn-shop-now:hover {
	background-color: green;
}
#cover-container {
	background-image: url("images/landing-background.jpg");
	min-height: 580px;
	background-size: cover;
	background-repeat: no-repeat;
}
#cover {
	padding-top: 160px;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h1 {
	font-size: 44px;
	font-weight: 600;
}
#cover > h1 {
	text-transform: capitalize;
	letter-spacing: 8.8px;
	line-height: 1.2;
	margin-left: 150px;
	margin-right: 150px;
}
#cover > p {
	font-size: 14px;
	letter-spacing: 0.5px;
	font-weight: 400;
	color: #8b8b99;
	margin-top: 20px;
	margin-left: 120px;
	margin-right: 120px;
}
#step-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	color: white;
}
.fa-icon-container {
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.step:hover i {
	transform: scale(1.12);
	transition: all 0.3s ease-out;
}
#step1 {
	background-color: #5acda6;
}
#step2 {
	background-color: #91ac41;;
}
#step3 {
	background-color: #e4b476;;
}
#step4 {
	background-color: #f69dad;;
}
#step-container > div {
	display: flex;
	height: 590px;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h3 {
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 40px;
	margin-bottom: 24px;
}
.step-summary {
	margin-top: 0;
	width: 80%;
	height: 350px;
	font-weight: 300;
	font-size: 14px;
}
#store {
	/* height: 600px; */
	background-color: #f7eee2;
	text-align: center;
	padding: 50px;
}
.grocery-store {
	margin-top: 5px;
	margin-bottom: 0;
}
.fresh-food {
	display: inline-block;
	margin: 0;
	margin-top: 35px;
	font-size: 24px;
	font-family: "Caveat", cursive;
	color: #91ac41;
	font-weight: 400;
}
.grocery-store-description {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #8b8b99;
	letter-spacing: 0.5px;
}
#store-grid-container {
	display: grid;
	grid-template-columns: repeat(4, auto);
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.store-items-container {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.store-items-container:hover > .item-icon-wrapper {
	transform: scale(1.12);
	transition: all 0.3s ease-out;
}
.store-items-container > h1 {
	font-size: 24px;
	text-transform: capitalize;
}
.item-description{
	height: 120px;
}
.item-description > p {
	font-size: 16px;
	letter-spacing: 0.5px;
	font-weight: 500;
	color: #8b8b99;
	margin-top: 0;
}
.item-icon-wrapper {
	background-color: #e3b375;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	box-sizing: border-box;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
#team {
	height: 100vh;
}
footer {
	padding: 24px;
	text-align: center;
	height: 50px;
	background-color: #232323;
	color: white;
	font-family: 'Poppins', sans-serif;
}
footer > p {
	font-family: "poppins", sans-serif;
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.12);
	}
}

@media (max-width: 1200px) {
	#step-container {
		grid-template-columns: auto auto;
	}
	#store-grid-container {
		grid-template-columns: auto auto;
	}
}

@media (max-width: 800px) {
	#step-container {
		grid-template-columns: auto;
	}
	#store-grid-container {
		grid-template-columns: auto;
	}
	h1 {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	#cover {
		padding-top: 60px;
		padding-bottom: 40px;
	}
	#cover > p {
		margin-top: 5px;
	}
	.menu-item {
		display: None;
	}
	#mobile-menu {
		display: inline-block;
	}
}
